.servers {
    .top {
        padding: 0 10px;
    }
    .logout {
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: .2s all linear;
        
        &:hover {
            color: #99cc33;
            
            svg {
                fill: #9fd533;
            }
        }
        .icon {
            margin-right: 5px;
            
            div {
                display: flex;

                svg {
                    width: 16px;
                    height: 16px;
                    transition: .2s all linear;
                }
            }
        }
    }
}