.list {
  padding-top: 167px;

  &__table {
    margin: 0;

    .table__head {
      position: fixed;
      top: 110px;
      left: 0;
      width: 100%;

      .table__row {
        border-bottom: 1px solid $bgray;
      }
    }
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
  }

  &__logo {
    width: 115px;
  }
}
