//  TODO: usages
transition-timing-function()
	if current-property {
		vendor('transition-timing-function', arguments)
	} else {
		error('transition-timing-function() must be used within a property')
	}