@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font: 'Roboto', sans-serif;
$basepx: 16px;

$white:  #fff;
$dwhite: #f5f5f5;
$bgray:  #e6e6e6;
$gray:   #b2b2b2;
$dgray:  #999;
$lblack: #666;
$black:  #000;
$dblue:  #0b0f27;
$blue:   #2f3254;
$green:  #9fd533;
$green2: #99cc33;
$dgreen: #86b300;
