//  TODO: test it
//calc()
//--Usage:
//  width calc('30% - 10px')
//--Usage with variables:
//  width calc(variableName1 + ' - %s' % (variableName2)), NOTE: variable1 must be a string
//if current-property {
//    arguments = unquote(arguments)
//    for prefix in mixin-library-vendors {
//        add-property(current-property[0], s('-%s-calc(%s)', prefix, arguments))
//    }
//    s('calc(%s)', arguments)
//} else {
//    error('calc() must be used within a property')
//}