//--Usage:
//  .class
//      size 20px null
//  TODO: implement 1 param version
size(
	elementWidth = null,
	elementHeight = null
)
	if elementWidth != null
		width elementWidth
	if elementHeight != null
		height elementHeight