@import "../../common/styles/mixins/media.queries.scss";

.background {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;

	&::after {
		content: "";
		background: url(../../resources/svg/background.svg);
		background-color: #0b0f27;
		opacity: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background-position: center;
		z-index: -1;
	}
}

.logo {
	margin-bottom: 70px;
}
