.server-list-table {
    width: 100%;
    
    &__head {

        tr {
            padding: 1rem 1rem;
            background-color: $gray-100;
            display: block;
            display: flex;
            justify-content: space-between;
            
            th {
                letter-spacing: 1.4px;
                font-weight: 300;
                font-size: 14px;
                color: #999999;
                text-transform: uppercase;
                border-bottom: 1px solid #E6E6E6;
                border-top: 1px solid #E6E6E6;
            }
        }
    }

    &__body {
        display: block;
        height: calc(100vh - 160px);
        overflow: auto;

        tr {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem;
            border-bottom: 1px solid #e6e6e6;

            td {
                color: #666666;
                font-weight: 300;
                font-size: 16px;
                letter-spacing: 0.4px;

            }
        }
    }

    // @media (min-width: 768px) {
    //     thead {
    //         tr {
    //             padding: 1 1rem;
    //         }
    //     }
    // }
}

