.login {
  @apply flex flex-col justify-center h-screen bg-cover items-center;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: 30%;
  background-color: rgb(11, 15, 39);
  background-image: image-set(
    url('../../../assets/images/background.png') 1x,
    url('../../../assets/images/background@2x.png') 2x
  );

  @screen sm {
    background-position: 50%;
  }

  @screen md {
    background-position-x: 85%;
  }

  .login__header {
    @apply text-white text-5xl font-bold mb-10 text-center;
    mark {
      @apply bg-transparent text-green;
    }
  }

  .login__form {
    @apply flex flex-col justify-center;
  }
}
