.login-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #9fd533;

  &:hover {
    background-color: #86b300;
  }
}