.input-group {
    .input-group-text {
        background-color: #ffffff;
        border: none;
    }
    .form-control {
        border: none;
        outline: none;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #ffffff inset;
    }
}