.input {
  &__container {
    position: relative;
    margin-bottom: 18px;
  }
  &__icon {
    width: 55px;
    height: 58px;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 18px;
  }
  &__element {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0 20px 0 55px;
    height: 58px;
    background: $white;
    border-radius: 5px;
    font-size: 16px;
    color: $textMediumGrey;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: $textLightGrey;
    }
    &:-ms-input-placeholder {
      color: $textLightGrey;
    }
    &::placeholder {
      color: $textLightGrey;
    }
  }
  &__error {
    color: $errorRed;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
}
