.servers-list {
  background-color: white;
}

.list-logo {
  width: 115px;
  height: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 42px 15px;
}

.logout-button {
  display: flex;
  background-color: white;
  border: none;
  align-items: center;
  cursor: pointer;
  color: #2f3254;
}

.logout-button-text {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 30px;
  padding-left: 10px;
}

.logout-button:hover {
  color: #99cc33;
}

.servers-table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #e6e6e6;
}

thead {
  background-color: #f5f5f5;
  color: #999999;
  text-transform: uppercase;
  cursor: pointer;
}

thead, tr {
  height: 45px;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 50%;
  text-align: left;
  padding-left: 15px;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 50%;
  text-align: right;
  padding-right: 15px;
}

tbody td {
  border-bottom: 1px solid #e6e6e6;
  color: #666666;
}