//Variables
$color-dark-blue: #0b0f27;
$color-black-light: #333;
$color-white: #FFF;
$color-black: #000;
$color-grey: #ccc;
$color-grey-dark: #999;
$color-grey-dark-2: #888;
$color-grey-light: #e6e6e6;
$color-grey-light-2: #f5f5f5;
$color-green:  #99cc33;
$color-green-light: #9fd533;
$color-green-light-2: #86b300;
$color-red: #F00;