
<div class="row">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item list-group-item-secondary rounded-0">
				<div class="row justify-content-between">
			    <div class="col-4" ng-click="listCtrl.sortBy('name')">
			      <span>SERVER</span>
			    </div>
			    <div class="col-4 text-right" ng-click="listCtrl.sortBy('distance')">
			      <span>DISTANCE</span>
			    </div>
			  </div>
			</li>
		  <li ng-repeat="server in listCtrl.servers | orderBy:[listCtrl.propertyName]:listCtrl.reverse" class="list-group-item list-group-item-light">
		  	<div class="row justify-content-between">
			    <div class="col-4">
						<a ui-sref="auth.server({serverName: server.name})">
				      {{server.name}}
				    </a>
			    </div>
			    <div class="col-4 text-right">
			      <span>{{server.distance}} km</span>
			    </div>
			  </div>
		  </li>
		</ul>
		<p ng-if="listCtrl.serverError">{{listCtrl.errorMessage}}</p>
	</div>
</div>
