@import 'constants.scss';

* {
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.3s linear;
  font-family: 'Open Sans', Verdana, sans-serif;
}

html, body, #root, .main {
  height: 100%;
  color: $grey;
  font-size: $baseFontSize;
}

input, button, textarea {
  box-sizing: border-box;
}
