@import './scss/colors';
@import './scss/mixins';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button,
input,
a {
  @include transition-200;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border-radius: 0;
}

button,
a {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: unset;
  text-decoration-color: #808080;
  color: inherit;
  display: inline-block;
}

input {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

.button-green {
  padding: 8px 16px;
  color: #999;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  background-color: $button-background-color;

  &:hover {
    background-color: $button-background-color-hover;
  }
}