@mixin border($size: 1px, $color: $grey, $style: solid) {
  border-color: $color;
  border-style: $style;
  border-width: $size;
}

@mixin row($justify: space-between, $align: center, $padding: 0px 25px) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  padding: $padding;
  align-items: $align;
}
