
.auth-page, .not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found_content {
    color: #efefef;
    position: relative;
    text-align: center;
}

.not-found_content_message {
    font-size: 24px;
}

.not-found_content_status {
    font-weight: 600;
    font-size: 60px;
}

.auth-page_bg, .auth-page_overlay, .not-found_overlay, .not-found_bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.auth-page_bg, .not-found_bg {
    background: url("../../assets/images/main-bg.jpg") no-repeat center;
    background-size: cover;
}

.auth-page_overlay, .not-found_overlay {
    background: #0b0f27;
    opacity: 0.7;
}

.auth-form {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    max-width: 400px;
    padding: 20px;
}

.logo {
    width: 55%;
    text-align: right;
}

.auth-form_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
}

.auth-form_btn, .auth-form_input {
    width: 100%;
    margin: 5px 0px;
    height: 50px;
    border-radius: 6px;
}

.auth-form_btn {
    background: #9fd533;
    outline-color: #08d51a;
    color: white;
    font-weight: bold;
}

.auth-form_input {
    background: white;
    display: inline-block;
    border: 1px solid white;
    padding: 0px 40px;
    color: gray;
    transition: all .2s ease-in-out;
}

.auth-form.error {
    animation: bounce .8s ease-in-out both;
}

.auth-form.error .auth-form_input {
    border-color: #740000;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform:         translateX(0)
    }
    40% {
        transform:         translateX(-30px)
    }
    60% {
        transform:         translateX(-15px)
    }
}