asset = './asset/'

image = asset + 'image/'
font = asset + 'font/'

pre = 'app' + '-'

//  Breakpoints
desktopLg = 1920px - 32
desktopMdLg = 1440px - 32
desktopMd = 1280px - 32
desktop = 1024px - 32
tablet = 776px
mobileXs = 480px
