//  TODO: priority:3, consider using color codes with opacity
//  Primary
cPrimary = #9fd533
cSecondary = #2f3254

//  Custom
cInverted = #ffffff
cVeryDark = #000000

//  Status
cDanger = #fe4d4d
cWarning = #ffcf4a
cSuccess = cPrimary
cNotice = cSecondary

//  Font
cFontPrimary = #666666
cFontLight = #999999
cFontVeryLight = #b3b3b3

//  Link
cLinkPrimary = cSecondary
cLinkPrimaryHover = #99cc33
cLinkPrimaryActive = #99cc33

//  Border
bdcPrimary = #e6e6e6
bdcFormControl = #d8d8d8

//  Placeholder
cInputPlaceholder = cFontVeryLight

//  Background
bgcPrimary = #f5f5f5
