//  Paragraph
pSpaceTop = spaceTopMd

//  Body
bgBody = cInverted

//  Form
hFormControl = 55px
bdrsFormControl = 5px
spaceForIconLeftFormControl = 25px// depends on icon size
spaceLeftFormControl = spaceLeftLg
spaceRightFormControl = spaceRightLg

//  Header
hHeader = 115px
