multiplierGlobal = 1

multiplierTop = multiplierGlobal
multiplierRight = multiplierGlobal
multiplierBottom = multiplierGlobal
multiplierLeft = multiplierGlobal

spaceMd = (20px * multiplierGlobal)
spaceTopMd =  (spaceMd * multiplierTop)
spaceRightMd = (spaceMd * multiplierRight)
spaceBottomMd = (spaceMd * multiplierBottom)
spaceLeftMd = (spaceMd * multiplierLeft)

spacePrimary = (15px * multiplierGlobal)
spaceTopPrimary = (spacePrimary * multiplierTop)
spaceRightPrimary = (spacePrimary * multiplierRight)
spaceBottomPrimary = (spacePrimary * multiplierBottom)
spaceLeftPrimary = (+spacePrimary * multiplierLeft)
