multiplierGlobal = 1

multiplierTop = multiplierGlobal
multiplierRight = multiplierGlobal
multiplierBottom = multiplierGlobal
multiplierLeft = multiplierGlobal

spaceLg = (25px * multiplierGlobal)
spaceTopLg =  (spaceLg * multiplierTop)
spaceRightLg = (spaceLg * multiplierRight)
spaceBottomLg = (spaceLg * multiplierBottom)
spaceLeftLg = (spaceLg * multiplierLeft)

spaceMd = (20px * multiplierGlobal)
spaceTopMd =  (spaceMd * multiplierTop)
spaceRightMd = (spaceMd * multiplierRight)
spaceBottomMd = (spaceMd * multiplierBottom)
spaceLeftMd = (spaceMd * multiplierLeft)

spacePrimary = (15px * multiplierGlobal)
spaceTopPrimary = (spacePrimary * multiplierTop)
spaceRightPrimary = (spacePrimary * multiplierRight)
spaceBottomPrimary = (spacePrimary * multiplierBottom)
spaceLeftPrimary = (spacePrimary * multiplierLeft)

spaceXs = (5px * multiplierGlobal)
spaceTopXs = (spaceXs * multiplierTop)
spaceRightXs = (spaceXs * multiplierRight)
spaceBottomXs = (spaceXs * multiplierBottom)
spaceLeftXs = (spaceXs * multiplierLeft)
