#page_auth-login {
  background: #0b0f27 url('../images/auth-login-bg.jpg') no-repeat 0 0;
  background-size: cover;

  .logo {
    text-align: center;
    margin-bottom: 4.375rem;
  }

} // End #page-auth-login
