.page-inner {
  padding-top: 6.5rem;

  .page-header {
    .nav-link {
      .label {
        font-size: 0.875rem;
      }

      .oi {
        margin-right: 0.5rem;
        vertical-align: -0.0625rem;
      }

    } // End .nav-link

  } // End .page-header

} // End .page-inner
