@import "bs_variable_overrides";
@import "node_modules/bootstrap/scss/bootstrap";
@import "bs_component_overrides";

@import "../fonts/iconic/font/css/open-iconic-bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700");

html, body, #root {
  height: 100%;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  // Default browser stylesheet is overriding letter-spacing per-element-basis, therefore
  // we do an asterisk selector.
  letter-spacing: 0.025em !important;
}

.scroll-y {
  overflow: hidden;
  overflow-y: auto;
}

.page-header {
  .nav-link {
    .label {
      font-size: 0.875rem;
    }

    .oi {
      margin-right: 0.5rem;
      vertical-align: -0.0625rem;
    }

  } // End .nav-link

} // End .page-header
