@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-roboto: 'Roboto', sans-serif;

$color-white:       #fff;
$color-dark:        #999;
$color-head-cta:    #2f3254;
$color-head-cta-h:  #99cc33;
$login-cta-bg:      #9fd533;
$login-cta-bg-h:    #86b300;
$color-placeolder:  #b2b2b2;
$color-error:       #e8b3b3;
$border-color:      #e6e6e6;
$result-head-bg:    #f5f5f5;
$result-head-color: #a5a5a5;
$result-color:      #666666;

$border-radius:     6px;
