{
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "printWidth": 100,
  "overrides": [
    {
      "files": ".gitlab-ci.yml",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
