//--Usage:
//  +text-input-active()
//      border 1px solid black
text-input-active()
	input[type="color"]:active
	input[type="date"]:active
	input[type="datetime"]:active
	input[type="datetime-local"]:active
	input[type="email"]:active
	input[type="month"]:active
	input[type="number"]:active
	input[type="password"]:active
	input[type="search"]:active
	input[type="tel"]:active
	input[type="text"]:active
	input[type="time"]:active
	input[type="url"]:active
	input[type="week"]:active
	textarea:active
		{block}