//--Usage:
//  +text-input-hover()
//      border 1px solid black
text-input-hover()
	input[type="color"]:hover
	input[type="date"]:hover
	input[type="datetime"]:hover
	input[type="datetime-local"]:hover
	input[type="email"]:hover
	input[type="month"]:hover
	input[type="number"]:hover
	input[type="password"]:hover
	input[type="search"]:hover
	input[type="tel"]:hover
	input[type="text"]:hover
	input[type="time"]:hover
	input[type="url"]:hover
	input[type="week"]:hover
	textarea:hover
		{block}