.main {
  background: url("../../assets/background.svg") no-repeat left;
  background-size: cover;
  height: 100vh;
}

.logo {
  display: block;
  background: url("../../assets/logo-testio.svg") no-repeat center;
  width: 246px;
  height: 64px;

  &--dark {
    background-image: url("../../assets/logo-testio-dark.svg");
    width: 115px;
    height: 30px;
  }
}