.app-login
	position absolute, 0, 0, 0, 0
	background-color #30364c
	background-image url(image + 'waves.jpg')
	background-repeat no-repeat
	background-size cover

	&__container
		position relative, 50%, null, null, 50%
		transform translate(-50%, -50%)

	&__logo
		overflow hidden

	&__logo-image
		position relative, null, null, null, 50%
		transform translateX(-50%)

	&__form
		margin-top 70px
