@import "../../assets/styles/variables";

.button {
  height: 58px;
  color: white;
  border-radius: .25rem;
  border: 0;
  letter-spacing: 0.4px;
  font-weight: bold;

  &--success {
    background: $green-color !important;

    &:hover {
      background: $green-hover-color !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $green-hover-color !important;
  }
}