<div class="container-fluid servers-page">
	<div class="servers-page__fixed-top">
		<header>
			<div class="row clearfix">
				<div class="col-xs-6">
					<img src="../assets/logo-dark.png" alt="">
				</div>
				<div class="col-xs-6 text-right">
					<a ng-click="servers.logout()" class="btn servers-page__logout-button" href="">
						<span class="servers-page__logout-button-icon"></span>
						<span>Logout</span>
					</a>
				</div>
			</div>
		</header>
		<div class="row">
			<table class="servers-page__servers-header">
				<thead>
				<tr>
					<th ng-class="{'active': order == 'name' || order == '-name'}" ng-click="servers.orderBy('name')">
						<span>Server</span>
					</th>
					<th ng-class="{'active': order == 'distance' || order == '-distance'}" ng-click="servers.orderBy('distance')">
						<span>Distance</span>
					</th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="servers-page__spacing-top">
		<div class="row">
			<servers-list/>
		</div>
	</div>
</div>
