//  TODO: GLOBAL --> directional-property not to repeat property-top property-right property-bottom property-left
//  TODO: GLOBAL --> make all usages the same with (), tip: use args[0]

@import 'core/*'

@require $animation + 'animation'
@require $animation + 'name'
@require $animation +'duration'
@require $animation + 'timing-function'
@require $animation + 'delay'
@require $animation + 'iteration-count'
@require $animation + 'direction'
@require $animation + 'fill-mode'
@require $animation + 'play-state'

@require $background + 'background'
@require $background + 'image'

@require $box + 'shadow'
@require $box + 'sizing'

@require $column + 'columns'
@require $column + 'width'
@require $column + 'count'
@require $column + 'fill'
@require $column + 'gap'
@require $column + 'span'
@require $column + 'rule'
@require $column + 'rule-color'
@require $column + 'rule-style'
@require $column + 'rule-width'

@require $flexbox + 'flexbox'

@require $font + 'face'
@require $font + 'face-local'
@require $font + 'feature'
@require $font + 'placeholder'
@require $font + 'selection'
@require $font + 'stacks'

@require $gradient + 'linear'
@require $gradient + 'radial'

@require $text + 'decoration'
@require $text + 'decoration-line'
@require $text + 'decoration-style'
@require $text + 'decoration-color'
@require $text + 'ellipsis'
@require $text + 'hide'
@require $text + 'word-wrap'

@require $transform + 'transform'

@require $transition + 'transition'
@require $transition + 'duration'
@require $transition + 'property'
@require $transition + 'timing-function'

@require $function + 'functions'

@require $border + 'border'
@require $border + 'color'
@require $border + 'image'
@require $border + 'radius'
@require $border + 'style'
@require $border + 'width'

@require $button + 'all'
@require $button + 'all-active'
@require $button + 'all-hover'
@require $button + 'all-focus'

@require $directional-property + 'directional-property'

@require $padding + 'padding'
@require $margin + 'margin'
@require $position + 'position'

@require $prefixer + 'prefixer'

@require $retina + 'image'

@require $text-input + 'text-input'
@require $text-input + 'hover'
@require $text-input + 'focus'
@require $text-input + 'active'

@require $timing-function + 'timing-functions'

@require $misc + 'hidpi-media-query'
@require $misc + 'hyphens'
@require $misc + 'image-rendering'
@require $misc + 'perspective'
@require $misc + 'size'
@require $misc + 'appearance'
@require $misc + 'backface-visibility'
@require $misc + 'calc'
@require $misc + 'filter'
@require $misc + 'opacity'
@require $misc + 'user-select'
@require $misc + 'clearfix'
@require $misc + 'list-unstyled'
@require $misc + 'image-fix'
@require $misc + 'font-resize-manual'
@require $misc + 'triangle'