$c-black: #000;
$c-white: #fff;

$c-wild-sand: #f5f5f5;
$c-mercury: #e6e6e6;
$c-silver: #cccccc;
$c-nobel: #b3b3b3;
$c-dove-gray: #666666;
$c-dusty-gray: #999999;

$c-haiti: #0b0f27;
$c-martinique: #2f3254;

$c-atlantis: #9fd533;
$c-atlantis-dark: #86b300;

$c-valencia: #d53333;
