//--Usage:
//  .class
//      position relative, null, 20px, null, 0
position(
	positionType = null,
	positionTop = null,
	positionRight = null,
	positionBottom = null,
	positionLeft = null
)
	if positionType != null
		position positionType
	if positionTop != null
		top positionTop
	if positionRight != null
		right positionRight
	if positionBottom != null
		bottom positionBottom
	if positionLeft != null
		left positionLeft