@import "../../../constants.scss";

.button {
  background: $green;
  border: none;
  box-sizing: border-box;
  border-radius: $defaultBorderRadius;
  font-weight: 700;
  font-size: 18px;
  line-height: $sizeXL;
  color: $white;
  margin: 10px;
  cursor: pointer;

  &:hover {
    background: $darkGreen;
  }
}
