@import '../../../constants.scss';

.input-wrapper {
  margin: 10px;
  position: relative;

  .fa {
    font-size: 18px;
    position: absolute;
    left: 20px;
  }

  .input {
    background: $white;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    border-radius: $defaultBorderRadius;
    color: $black;
    width: 100%;
    @include border(2px, transparent);

    &.invalid {
      @include border(2px, $red);
    }

    &.icon {
      padding-left: 40px;
    }

    &:focus {
      color: $inputGrey;
      padding: 0 20px;
    }
  }

  .fa, .input {
    line-height: $sizeXL;
    min-height: $sizeXL;
  }
}
