@import "../../../constants.scss";

.input-wrapper {
  margin: 10px;

  .input {
    background: $white;
    border: none;
    font-size: 16px;
    padding: 0 20px;
    border-radius: $defaultBorderRadius;
    line-height: $sizeXL;
    color: $black;
    width: 100%;

    &:focus {
      color: $inputGrey;
    }
  }
}
