@import '../../../constants.scss';

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .loader {
    font-size: 10px;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    background: linear-gradient(to right, $grey 10%, rgba(255, 255, 255, 0) 42%);
    animation: spinning 1.4s infinite linear;
    position: relative;

    &:after {
      background: $white;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
