.button
	background-color cPrimary
	display inline-block
	border 0 solid cPrimary
	padding(0 spaceRightPrimary 0 spaceLeftPrimary)
	text-decoration none
	cursor pointer
	outline none
	box-sizing border-box
	min-height hFormControl
	color cInverted
	text-align center
	text-transform uppercase

	&__text
	&__icon
		text-decoration none
		*
			text-decoration none

	&__text
		color cInverted
		font-size fzMd
		text-transform uppercase
		font-family ffPrimarySemiBold

	&:hover
	&:active
		text-decoration none
		background-color #009dbb

		.button
			&__text
			&__icon
				text-decoration none
				*
					text-decoration none

	&--no-min-height
		min-height auto

	&--transparent
		padding(0 0 0 0)
		border none
		height auto
		background-color transparent
		color cFontPrimary
		text-transform none

		&:hover
		&:active
			background-color transparent

		.button
			&__text
				color cFontPrimary
				text-transform none

	&--full-width
		width 100%
		max-width 100%

	&--full-size
		size 100% 100%
		max-width 100%
		max-height 100%

a.button
	padding(11px null 9px null)//  11px imitate vertical align middle in A tag

	&--transparent
		padding-top 0
