//--Usage:
//  +all-buttons-active(),
//  +all-buttons-hover()
//      border 1px solid black
all-buttons-active()
	button:active
	input[type="button"]:active
	input[type="reset"]:active
	input[type="submit"]:active
		{block}