//  TODO: Buttons (Variable) --> implement this later to remove duplicated code like
//  TODO:  input[type="button"] input[type="reset"] input[type="submit"]
//--Usage:
//  +all-buttons()
//      border 1px solid black
all-buttons()
	button
	input[type="button"]
	input[type="reset"]
	input[type="submit"]
		{block}