.servers-page {
	header {
		margin: 20px 0;
	}

	&__logout-button {
		color: #2f3254;

		&:hover {
			background-color: #99cc33;
		}

		&-icon {
			display: inline-block;
			height: 16px;
			width: 16px;
			background-image: url(../assets/icons.png);
			background-position: 0 66px;
			margin-right: 5px;
		}

		span {
			vertical-align: middle;
		}
	}

	&__servers-header, &__servers-list {
		width: 100%;

		td, th {
			text-align: right;

			&:first-child {
				text-align: left;
			}
		}

		thead tr {
			border-top: 2px solid #e6e6e6;
			border-bottom: 2px solid #e6e6e6;
			background-color: #f5f5f5;
		}

		tr {
			border-bottom: 1px solid #e6e6e6;
		}

		td {
			padding: 10px;
		}

		th {
			@extend td;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 14px;
			color: #999;
		}
	}
}