.bg { 
  background-image: url("assets/images/background.jpg");
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login__wrapper {
	position: absolute;
	text-align: center;
	width: 100%;
  left: 0;
  top: 50%;
  margin-top: -160px;
}
.login__logo {
	margin-bottom: 50px;
}