/*Add corporate color #9fd534*/

body, html, body > div {
   height: 100%;
   min-width: 320px;
   width: auto !important;  /* Firefox will set width as auto */
}

a:visited, a:active, a {
    color: @gray !important;
}
