.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.subheader {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.07);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.serverEntry {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: none;
  }
}

.text {
  font-size: 14px;
  line-height: 14px;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.5);
}

.logoutBtn {
  display: flex;
  align-items: center;
  width: 100px;
}

.exitIcon {
  margin-right: 6px;
}
