// Here is one awesome mixture of random, popular and beautiful colors together here

$psd-backgroud-fill: #0B0F27 !default;

$white-1: #FFFFFF !default;

$black-1: #404B5A !default;
$black-2: #6E7A8B !default;
$black-3: #929FB1 !default;

$grey-1: #F5F5F5 !default;
$grey-2: #E1E7EB !default;
$grey-3: #E7EDF1 !default;
$grey-4: #666666 !default;
$grey-5: #999999 !default;

$red-1: #E06464 !default;

$blue-1: #3183C8 !default;
$blue-2: #ACD2F1 !default;
$blue-3: #0B0F27 !default;
$blue-4: #2F3254 !default;

$green-1: #00A991 !default;
$green-2: #E2FBEF !default;

$orange-1: #A45B20 !default;
$orange-2: #FBEFE4 !default;

$yellow-1: #FFF4D3 !default;


$lime-1: #86b300;
$lime-3: #9FD533;
$lime-2: #99cc33;

$red-1: #dc2f2f;