@import "./variables.scss";
@import "./Login.scss";
@import "./Home.scss";

html,
body,
#root,
.testio-app,
.auth-screen,
.auth-screen > .container > .row {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: $fontColor;
}

.App {
  text-align: center;
}
