$martinique: #2f3254;
$atlantis: #99cc33;
$limeade: #86b300;
$lightred: #ffd6d6;
$red: #e60023;
$mercury: #e6e6e6;
$nobel: #b3b3b3;
$white: #ffffff;
$dovegray: #666666;
$wildsand: #f5f5f5;
$dustygray: #999999;





