@import "../../../../common/styles/colors";

.input {
	width: 100%;
	height: 5.6rem;

	padding-left: 5.4rem;

	border-radius: 0.3rem;
	border: none;

	font-size: 1.6rem;

	color: $c-dusty-gray;

	&::placeholder {
		color: $c-nobel;
	}

	&:focus {
		outline: none;
	}

	&[data-emphasized="true"] {
		border: 2px solid $c-valencia;
		color: $c-valencia;

		&::placeholder {
			color: $c-valencia;
		}
	}
}
