.App {
  background-image: url('../assets/images/Background.png');
  background-position: center right;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}