$white: #fff;
$active-grey: #999; 
$inactive-grey: #b3b3b3;
$border-grey: #e6e6e6;
$header-grey: #f5f5f5;
$active-green: #9fd533;
$second-green: #99cc33; 
$inactive-green: #86b300;
$blue: #2f3254;

$primary-color: $white;
$primary-text-color: $white;
$primary-button-color: $active-green;
$primary-button-color-hover: $inactive-green;

$input-text-color: $active-grey;
$input-placeholder-color: $inactive-grey;
$grey-text: $active-grey;

$logout-button-text-color: $blue;
$logout-button-hover-text-color: $second-green;
