.spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    opacity: 0.5;
}

.spinner {
    position: absolute;
    animation-name: spin;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-color: #9fd533 transparent #9fd533 #9fd533;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100%  {transform: rotate(360deg);}
}