.header-container {
  height: 113px;

  .header-logo {
    margin-top: 42px;
  }

  .header-logout {
    &-container {
      text-align: right;
    }

    &-logo-container {
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px;
    }
    
    &-btn {
      margin-top: 42px;
      font-weight: 300;

      &:hover {
        background-color: #99cc33;
      }
    }
  }
}
