.login-container {
  height: 100vh;
  background: url('/static/images/img.png') no-repeat center center fixed; 
  background-size: cover;
  background-color: #0b0f27;

  .login-form {
    max-width: 360px;
    width: 100%;

    &-logo-container {
      width: 100%;
      margin-bottom: 70px;
      text-align: center;
    }

    &-group {
      width: 100%;

      &-input {
        line-height: 30px;
        padding: 23px 0 21px 45px;
        color: #999;
        font-weight: 300;
      }
      &-input-prepend {
        z-index: 2;
        position: absolute;
        padding: 14px 20px 20px 20px;
      }

      &-prepend {
        border: none;
        background-color: #fff;
      }

      .login-form-btn{
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        border-radius: 5px;
        color: #fff;
        background-color: #9fd533;

        &:hover {
          background-color: #86b300;
        }
      }
    }
  }
}