.container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logoutButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  width: 70px;
  background-color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}