/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), url(../fonts/Roboto-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"), url(../fonts/Roboto-Bold.ttf) format("truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  overflow: overlay; }

@keyframes loadingBubbles {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  width: 36rem;
  padding: 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  letter-spacing: 0.4px; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:focus {
  outline: none; }

.btn--green {
  background-color: #9fd533;
  color: #fff; }
  .btn--green:hover {
    background-color: #86b300; }

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative; }

.form__input {
  color: #999;
  border: none;
  padding: 2rem 2rem 2rem 5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  width: 36rem;
  font-family: inherit;
  letter-spacing: 0.4px; }
  .form__input:focus {
    outline: none; }
  .form__input::-webkit-input-placeholder {
    font-weight: 300;
    color: #b3b3b3; }
  .form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active {
    -webkit-text-fill-color: #999;
    transition: background-color 5000s ease-in-out 0s; }
  .form__input--username {
    background: #fff url(../images/user-icon.svg) no-repeat left 2rem center;
    z-index: 10; }
  .form__input--password {
    background: #fff url(../images/password-icon.svg) no-repeat left 2rem center; }
  .form__input--error {
    background: #e6e6e6;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #666;
    position: absolute;
    right: -18.3rem;
    transition: opacity 3s ease-in-out; }
    .form__input--error::before {
      content: '';
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 1rem solid transparent;
      border-right: 1rem solid #e6e6e6;
      border-top: 0.5rem solid transparent;
      border-bottom: 1rem solid transparent;
      left: -2rem; }

.form__loader, .form__loader:before, .form__loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loadingBubbles 1.8s infinite ease-in-out;
  animation: loadingBubbles 1.8s infinite ease-in-out;
  content: '';
  position: absolute; }

.form__loader {
  color: #fff;
  font-size: 0.5rem;
  margin: 0.3rem auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: -1rem; }
  .form__loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .form__loader:after {
    left: 3.5em; }

.servers {
  height: 100vh; }
  .servers__header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem; }
  .servers__logOut {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2f3254;
    font-size: 1.4rem;
    letter-spacing: 0.35px;
    cursor: pointer; }
    .servers__logOut:hover {
      color: #99cc33; }
      .servers__logOut:hover svg path {
        fill: #99cc33; }
    .servers__logOut svg {
      margin-right: 1rem; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 1.5rem;
    border: #e6e6e6 1px solid;
    line-height: 30px; }
    .table__header th {
      letter-spacing: 1.4px;
      text-transform: uppercase;
      color: #999;
      font-weight: 300;
      font-size: 1.4rem;
      cursor: pointer; }
  .table tbody {
    display: block; }
  .table__row {
    border-bottom: #e6e6e6 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #666; }

.login {
  background-image: linear-gradient(rgba(47, 50, 84, 0.8), rgba(47, 50, 84, 0.8)), url(../images/login-bg.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .login__logo {
    margin-bottom: 7rem; }
  .login__wrongCredentials {
    position: absolute;
    transform: translate(0, -7rem);
    padding: 1.5rem 2rem;
    background: #e6e6e6;
    color: #e81123;
    border-radius: 0.5rem;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.3rem; }

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .splash__indicator {
    transform: scale(4);
    margin-bottom: 2rem; }
    .splash__indicator svg polyline {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round; }
      .splash__indicator svg polyline#back {
        stroke: rgba(159, 213, 51, 0.3); }
      .splash__indicator svg polyline#front {
        stroke: #9fd533;
        stroke-dasharray: 12, 36;
        stroke-dashoffset: 48;
        animation: dash 1s linear infinite; }
  .splash__text {
    font-size: 1.6rem;
    font-weight: bold; }

.notFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .notFound__img {
    height: 60%;
    border-radius: 5rem;
    background: white;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .notFound__img {
        height: 45%; } }
