.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.logo {
    flex-grow: 1;
    margin-left: 2rem;
}

.logout-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}
