.InputBoxWithIcon {
	background-position: 20px 50%;
	background-repeat: no-repeat;
	background-size: 15px;
	border-color: transparent;
	border-radius: 8px;
	color: #b2b2b2;
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	font-weight: 300;
	padding-left: 50px;
	width: 100%;
	&::placeholder {
		color: #b2b2b2;
	}
	&:active,
	&:focus {
		color: #999;
	}
}
