.LoginPage {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../assets/img.svg), url(../assets/bg.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-input {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 11px;

    input {
      padding: 5px;
      border: 0;
      color: #999;
    }
  }

  .login-button {
    background-color: #9fd533;
    width: 360px;
    height: 56px;
    border: 0;
    border-radius: 5px;
    color: #fff;

    &:hover {
      background-color: #86b300;
    }
  }
}