.form-message {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-bottom: 15px;
}

.form-message.error {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.form-message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
