.input-with-icon {
  position: relative;
  .glyphicon {
    color: #B3B3B3;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .form-control {
    padding-left: 35px;
    color: #999;
  }
}
