@import '../../../styles/variables';

$focusColor: #999999;
$inputColor: #B3B3B3;

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: $inputColor;
  padding: 1.25rem 1rem 1.25rem 3rem;
  border: 0;
  border-radius: 4px;
  margin-bottom: 1.125rem;

  &:focus {
    color: $focusColor;
  }

  &::placeholder {
    color: $inputColor;
    font-weight: 300;
  }

  &__adornment {
    position: absolute;
    top: 0;
    padding: 1.2rem 1rem 1.2rem 1rem;

    &--start {
      left: 0;
    }

    &--end {
      right: 0;
    }
  }

  &--error {
    margin-bottom: 0;
    border: 2px solid $errorColor;
  }

  &__error {
    display: block;
    font-size: 0.875rem;
    font-weight: 300;
    color: $errorColor;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
  }
}