.form {
  text-align: center; }
  .form span {
    color: #fff; }
  .form .btn {
    background: #99cc33;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; }
    @media (min-width: 768px) {
      .form .btn {
        width: 360px; } }
    @media (max-width: 768px) {
      .form .btn {
        width: 250px; } }
    .form .btn:hover {
      background: #86b300;
      color: #fff; }
  .form .form-group {
    margin-bottom: 20px; }
    .form .form-group .input {
      height: 60px;
      margin: 0 auto;
      position: relative; }
      @media (min-width: 768px) {
        .form .form-group .input {
          width: 360px; } }
      @media (max-width: 768px) {
        .form .form-group .input {
          width: 250px; } }
      .form .form-group .input .username-icon, .form .form-group .input .password-icon {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30px;
        fill: #b2b2b2; }
    .form .form-group .form-control {
      height: 60px;
      margin: 0 auto;
      font-size: 16px;
      padding-left: 50px; }
      @media (min-width: 768px) {
        .form .form-group .form-control {
          width: 360px; } }
      @media (max-width: 768px) {
        .form .form-group .form-control {
          width: 250px; } }
