@import '../../scss/colors';
@import '../../scss/mixins';

.ActionButton {
  button {
    @include flex-space-between-row;
    color: inherit;
    background-color: inherit;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 1.2em;
    width: 1.2em;
    margin-right: .6em;
  }
}