@import '../../scss/colors';

.InputText {
  .icon {
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    position: absolute;
    left: 0;
    padding-left: 64px;
    height: 100%;
  }
}