$color-atlantis: #9FD533;
$color-nobel: #B3B3B3;
$color-dusty-gray: #999999;
$color-limeade: #86B300;
$color-yellow-green: #99CC33;
$color-white-smoke: #F5F5F5;
$color-gainsboro: #E6E6E6;
$color-dim-gray: #666666;

$form-item-width: 360px;
$form-item-height: 60px;

$breakpoint-tablet: 768px;

$form-item-width-sm: 288px;
$form-item-height-sm: 48px;
