.logo {
  font-weight: bold;
}

.name-primary {
  color: #000;
  font-size: 32px;
  letter-spacing: 2px;
}

.dot-primary {
  color: #ccdb37;
  font-size: 32px;
  margin-left: -4px;
}

.name-secondary {
  color: #fff;
  font-size: 60px;
  letter-spacing: 2px;
}

.dot-secondary {
  color: #ccdb37;
  font-size: 60px;
  margin-left: -4px;
}