input
	placeholder(cInputPlaceholder)

textarea
	display block
	resize vertical

input[type='text']
input[type='search']
input[type='password']
	appearance none

.{pre}form
	position relative, null, null, null, null
	z-index 2
