.form

	&__control
		size 100% hFormControl
		max-width 100%
		box-sizing border-box
		border 1px solid transparent
		padding(null spaceRightPrimary null spaceLeftPrimary)
		color cFontLight
		outline none
		background-color cInverted
		border-radius 2px

		&:active
		&:focus
			outline none

		&--error
			border-color cDanger
