.{pre}form

	&__element

		&--has-icon
			position relative, null, null, null, null

		&-icon
			position absolute, 50%, null, null, null
			transform translateY(-50%)

			&--left
				left spaceLeftFormControl
