.{pre}form

	&__field
		margin-top spaceTopMd

		&--no-space-top
			margin-top 0

		&--horizontal
			display table
			table-layout fixed
			width 100%

			.form

				&__label
				&__element
				&__side-option
					display table-cell
					vertical-align middle

				&__label
					width 30%

				&__element
					width 70%
