$margin: 10px;
$color-dark-blue: #2f3254;

/*Main servers containers header style with logo and logout inside*/
.servers-header-container {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 36px;
/*Logo style*/
  :first-child {
    float: left;
    margin-left: 6px;
  }
/*lougout container(icon and text logout) style*/
  :last-child {
    float: right;
    margin-right: $margin;

    /*logout icon style*/
    :first-child {
      float: left;
      margin-top: 6px;
    }
     /*logout text style*/
    :last-child {
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

/*logout container with icon and logout text inside*/
.logout-container {
  color: $color-dark-blue;
}
/*logout container on hovery*/
.logout-container:hover {
  color: #99cc33;
  cursor: pointer;
}
