@import "../../constants.scss";

.login-container {
    background-image: url("./resources/login-background.png") ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #0b0f27;
    /* Flexbox props */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.login-input {
    font-size: 1.6rem;
    height: 5.6rem;
    width: 100%;
    max-width: 35rem;
    border-width: 0rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding-left: 6rem;
    padding-right: 2rem;   
    background-position: initial; 
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position-x: 3rem;
    background-position-y: center;   
    margin-top: 2rem;

    &::placeholder{
        color: #b3b3b3;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.3rem $button-collor-hoverred;
    }
}

.username {
    background-image: url("./resources/user-icon.svg");    
    margin-top: 8rem;
}

.password {
    background-image: url("./resources/password-icon.svg");   
}

.submit {
    padding: 0rem;
    font-weight: 700;
    color: #ffffff;
    background-color: $button-collor;
    box-shadow: none !important;
    width: 100%;
    max-width: 43rem;

    &:hover {
        background-color: $button-collor-hoverred;
        cursor: pointer;
    }

    &:focus {
        background-color: $button-collor-hoverred;
    }
}