$assetPath: '/assets';

$branded-blue: #0b0f27;
$branded-green: #99cc33;

$button-background: #99cc33;
$button-background-hover: #86b300;

$input-text: #cccccc;
$input-text-active: #999999;

$table-background: #f5f5f5;
$table-border: #e6e6e6;
$table-text: #666666;
$table-header-text: #999999;

$logout-text: $branded-blue;
$logout-text-hover:  #99cc33;
