.logged {
    
    &-header {
        position: fixed;
        width:100%;
        background-color: $color-white;
        z-index: 100;
        transition: all 0.3s;
        margin-top: -11.2rem;
                    
        &-top {
            margin: 2.5rem 0 2.5rem 0;

            &-small {
                margin: 1rem 0 1rem 0;
            }

                &-left { 
                    width: 15%;
                    display: block;

                    @include respond(laptop) {
                        width: 25%;   
                    }

                    @include respond(tab) {
                        margin: 0 auto;
                        width: 35%;
                        padding-bottom: 1.5rem;                        
                    }   

                    & img {
                        @include img-block;                                
                    }
                }
        
                &-right {           
                    display: inline-block;                    
        
                    & img {
                        margin: 0 0.4rem 0.2rem 0;
                    }
    
                    &-box {
                        border: 1px solid $color-white;
                        padding: 0.5rem;
                        cursor: pointer;                            
                        color: $color-dark-blue;
                        font-weight: 400;            
                    }
        
                    &-box:hover {
                        border: 1px solid $color-green;
                    }                    
                }
        }

        &-bottom {
            border-top: 1px solid $color-grey-light;
            border-bottom: 1px solid $color-grey-light;
            background-color: $color-grey-light-2;
            color: $color-grey-dark;
            line-height: 3.5rem;
            text-transform: uppercase;
            padding-left: 1.0rem;
            font-size: 0.875rem;
            letter-spacing: 0.1rem;
        
            &-right {
                padding-right: 2.2rem;
                text-align: right;
            }               
        }
    }
}

.col-sm {
    text-align: right;
    
        @include respond(tab) {
            text-align: center;
        }
}

