$color-opaque: #9fd533;
$color-hover-opaque: #86b300;
$color-text: #fff;
$color-hover-ghost: #99cc33;

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.opaque {
    padding: 1em;
    background-color: $color-opaque;
    color: $color-text;
    font-weight: 600;

    &:hover {
        background-color: $color-hover-opaque;
    }
}

.ghost {
    background: transparent;
    padding: .5em;

    &:hover {
        background-color: $color-hover-ghost;
    }
}
