@mixin rowBase {
  span {
    display: flex;
    align-items: center;
  }
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-weight: 300;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.container {
  display: flex;
  flex-direction: column;
}

.servers {
  display: flex;
  flex-direction: column;
}

.headerRow {
  @include rowBase;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  color: #999999;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}

.row {
  @include rowBase;
  font-size: 16px;
  color: #666666;
}

.loaderWrapper {
  text-align: center;
  margin-top: 16px;
}
