.servers {
  @apply mx-auto;
  .servers__header {
    @apply flex justify-between items-center font-bold;
    h1 {
      @apply text-white text-4xl my-8 text-center;
      color: #2f3254;
      mark {
        @apply bg-transparent text-green;
      }
    }

    .servers__header-logout {
      @apply border py-1 px-2 text-blue-dark;
      border-color: #0015ff;

      &:hover {
        @apply border-lime;
      }
      img {
        @apply inline mr-1;
      }
    }
  }

  .servers__content {
    .servers__content-list {
      @apply border-l border-r border-gray-200;
      .server__content-header {
        @apply bg-gray-100 text-gray-300 border-t border-gray-200;
      }
      li {
        @apply flex justify-between items-center border-b border-gray-200 text-gray-400 p-4;
      }
    }
  }
}
