.SubmitButton {
  &.btn {
    line-height: 2.75;
    color: #fff;
    background-color: #9fd533;
    border-color: #9fd533;
  }
  &:hover {
    background-color: #86b308;
    border-color: #86b308;
  }
}