$background-color: #0b0f27;

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $background-color;


    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(common/assets/img.png);
        opacity: 0.2;
        background-position: center;
        background-size: cover;
    }
}

.box {
    width: 100%;
    max-width: 380px;
    padding: 1em;
    position: relative;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
}