//--Usage:
//  .className
//      input
//          placeholder someFontColor
placeholder(fontColor)
	&::-webkit-input-placeholder
		color fontColor
	&:-moz-placeholder
		color fontColor
	&::-moz-placeholder
		color fontColor
	&:-ms-input-placeholder
		color fontColor