$color-default: #ccc;
$color-active: #999;
$color-error: #EE2B31;
$color-font-light: #fff;

.label {
    position: relative;
    display: block;
}

.input {
    width: 100%;
    display: block;
    padding: 1em;
    border-radius: 5px;
    border: none;
    color: $color-default;
    outline: none;
    line-height: 1.5;

    &::placeholder {
        color: $color-default;
    }

    &:focus {
        color: $color-active
    }
}

.inputWithIcon {
    padding-left: 3em;
}

.icon {
    fill: $color-default;
    position: absolute;
    top: 50%;
    left: 1.5em;
    transform: translateY(-50%);
}

.input:active + .icon,
.input:focus + .icon {
    fill: $color-active;
}

.inputWithError {
    border: 1px solid $color-error
    // box-shadow: 0px 0px 10px 3px rgba($color-error, 0.5);
}

.error {
    border-radius: 5px;
    margin-top: .5em;
    background-color: $color-error;
    color: $color-font-light;
    display: block;
    padding: 1em;
    position: relative;

    &:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .5em solid transparent;
        border-bottom-color: $color-error;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: 100%;
    }
}