@import "../../../common/styles/mixins/media.queries";
@import "../../../common/styles/colors";

.form {
	width: 36rem;

	@include breakPoint(small) {
		width: 30rem;
	}

	&:not(last-child) {
		margin-bottom: 1rem;
	}

	> div {
		position: relative;
		margin-bottom: 2rem;
	}
}

.icon {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.button {
	background-color: $c-atlantis;
	color: $c-white;

	&:hover {
		background-color: $c-atlantis-dark;
	}
}

.loginError {
	background-color: $c-white;
	color: $c-valencia;

	font-size: 1.4rem;

	border-radius: 0.3rem;

	padding-left: 2rem;

	height: 3rem;
	vertical-align: middle;
	line-height: 3rem;
}
