@import "../../../common/styles/mixins/media.queries";

.form {
    width: 36rem;

    @include breakPoint(small) {
        width: 30rem;
    }

	&:not(last-child) {
		margin-bottom: 1rem;
	}

	> div {
        position: relative;
        margin-bottom: 2rem;
	}
}

.icon {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

