.{pre}header
	height hHeader
	position relative, null, null, null, null

	&__logo
	&__user-navigation
		position absolute, 50%, null, null, null
		transform translateY(-50%)

	&__logo
		left 0

	&__user-navigation
		right 0
