.table {
    margin-top: 11.2rem;

    thead th {    
        color: #999;
        font-weight: 300;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 1px solid #e6e6e6;
        border-top: none;        
    }

    td {
        padding-left: 1.0rem;
        padding-right: 1.0rem;       
        border-top: none;
        border-bottom: 1px solid #e6e6e6;
        color: #333;
    }

    &-results-right { 
        text-align: right;  
    }
}
