.wrong-password {
    position: absolute;
    box-sizing: border-box;
    width: 30rem;
    height: 12rem;;
    border-radius: 0.3rem;
    color: $color-white;
    text-align: center;
    padding: 2rem;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba($color-dark-blue, 0.98);
    box-shadow: 5px 5px 25px rgba($color-black, 0.3);
    display: none;

        @include respond(tab) {
            width: 100%;                      
        }   

    &-button {
        width: 20%;
        line-height: 2.5rem;       
        margin: 1rem auto;  
    }
}