.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0; }
  .header .top {
    padding: 45px 0px 45px 0px;
    margin: 0; }
    @media (max-width: 768px) {
      .header .top {
        padding: 30px 0px 30px 0px; } }
    .header .top .log-out {
      float: right;
      width: 120px;
      color: #2f3254;
      transition: all ease-in-out 0.1s;
      font-size: 14px;
      padding-right: 30px;
      position: relative; }
      .header .top .log-out .logout-icon {
        position: absolute;
        left: 20px;
        top: 2px;
        transition: all ease-in-out 0.1s; }
      .header .top .log-out:hover {
        cursor: pointer;
        color: red; }
        .header .top .log-out:hover .logout-icon {
          fill: red; }
