.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  .top {
    padding: 45px 0px 45px 0px;
    margin: 0;
    @media(max-width: 768px) {
      padding: 30px 0px 30px 0px;
    }
    .log-out {
      float: right;
      width: 120px;
      color: #2f3254;
      transition: all ease-in-out 0.1s;
      font-size: 14px;
      padding-right: 30px;
      position: relative;
      .logout-icon {
        padding: 0 10px 1px 0;
        .cls-1 {

        }
      }
      &:hover {
        cursor:pointer;
        color: red;
      }
    }
  }
}
