@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
.container-fluid {
  padding-right: 0;
}
.servers {
    position: relative;
    margin-top: 182px;
    @include calc(height, "100vh - 120px");
}

.right {
    text-align: right;
}

.list {
    padding: 20px 15px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    transition: all ease-in-out 0.1s;
}
