@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  .row {
    margin: 0;
  }
}
.servers {
    position: relative;
    margin-top: 182px;
    @include calc(height, "100vh - 182px");
    @media(max-width: 768px) {
      margin-top: 152px;
      @include calc(height, "100vh - 152px");
    }
}

.right {
    text-align: right;
}

.list {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    transition: all ease-in-out 0.1s;
}
.info {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    color: #999;
    font-size: 14px;
    margin: 0;
    position: fixed;
    top: 120px;
    @media(max-width: 768px) {
      top: 90px;
    }
    width: 100%;
    div {
    text-transform: uppercase;
    transition: all ease-in-out 0.1s;
    }
}

.info div:hover {
    cursor: pointer;
    color: #666;
}
