@mixin box {
  height: 56px;
  width: 359px;
  border: none;
  border-radius: 6px;
}

.container {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/background.png');
  background-color: #0b0f27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 70px;
}

.form {
  & *:not(:last-child) {
    margin-bottom: 20px;
  }
  display: flex;
  flex-direction: column;
}

.input {
  @include box;
  &::placeholder {
    color: #b3b3b3;
  }
  color: #999;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 30px;
  padding: 10px;
  padding-left: 35px;
  background-image: url(./assets/user.svg);
  background-repeat: no-repeat;
  background-position: 10px 19px;
}

.userName {
  background-image: url(./assets/user.svg);
  background-repeat: no-repeat;
  background-position: 10px 19px;
}

.password {
  background-image: url(./assets/lock.svg);
  background-repeat: no-repeat;
  background-position: 10px 19px;
}

.button {
  @include box;
  &:hover {
    background-color: #86b300;
  }
  background-color: #9fd533;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
