.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.testioLogo {
  margin: 0 56px;
  margin-bottom: 70px;
}

.input {
  display: flex;
  height: 56px;
  margin-bottom: 20px;
  padding-left: 54px;
  color: #999;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 30px;
  background-color: #ffff;
  border-radius: 5px;
  border: none;
}

.input::placeholder {
  color: #b3b3b3;
}

.userInput {
  background: url("../../../assets/user.svg") no-repeat scroll 25px 20px;
  background-color: #ffff;
}

.passwordInput {
  background: url("../../../assets/password.svg") no-repeat scroll 25px 20px;
  background-color: #ffff;
}

.submit {
  height: 56px;
  background-color: #9fd533;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 30px;
  cursor: pointer;
}

.submit:hover {
  background-color: #86b300;
}
