@media all {
    .Login {
      padding: 60px 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./loginBackground.png');
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 100vh;
      background-position: center; /* Center the image */
    }
    .Form {
        margin: 0 auto;
        width: 26vw;
        margin-top: 12vh;
    }

    .form-control, .Form button {
        height: 7vh;
        font-size:calc(3px + 1.4vw);
        margin-top: 1.3vw;
        border-radius: 5px;
        min-width: 250px;
        min-height: 60px;
        text-indent: 10px;
        line-height: 1;
    }
    .Form button {
        background-color: #9FD533;
    }
    .Form img {
        width: 15vw;
        height: 4vw;
        margin: 0 auto;
        min-width: 150px;
        min-height: 40px;
        margin-bottom: 10vh;
    }
    .passwordVisibility {
        color: white;
        margin: 1vw 0;
        line-height: 1;
        font-size:calc(3px + 1vw);
    }

  }

  .form-control::-webkit-input-placeholder { color: #cccccc;  }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #cccccc; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #cccccc; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #cccccc; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #cccccc; } 
