@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      
    }
    .Form {
      margin: 0 auto;
      max-width: 320px;
      
    }
    .form-control-lg {
        padding: 2.5rem 1rem;
    }
    .Form button {
        background-color: #c2c10e;
        padding: 1.5rem 1rem;
    }

  }
  body {
    background-color: grey
  }
  .form-control::-webkit-input-placeholder { color: #999; font: 14px; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #999; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #999; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #999; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #999;font: 14px; } 
