@media all {
    .Login {
      padding: 60px 0;
      background-image: url('./loginBackground.png');
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 100vh; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .Form {
        margin-top: 15vh;
    }

    .form-control, .Form button {
        margin-left: 35vw;
        margin-right: 35vw;
        width: 30vw;
        height: 10vh;
        font-size: 2vw;
        margin-top: 2vw;
        border-radius: 10px;
        min-width: 250px;
    }
    .Form button {
        background-color: #9FD533;
    }
    .Form img {
        width: 20vw;
        height: 5vw;
        margin-left: 40vw;
        margin-right: 40vw;
        min-width: 200px;
        min-height: 60px;
    }

  }

  .form-control::-webkit-input-placeholder { color: #999; font: 14px; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #999; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #999; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #999; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #999;font: 14px; } 
