:global {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    min-height: 100%;
  }

  body {
    font: 100%/150% Arial, Helvetica, sans-serif;
  }

  input[type=text],
  input[type=password] {
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
  }

  button {
    background: #9FD533;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
  }
}