$mainFont: 'Roboto', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body, html, #root, .App, .container {
	margin: 0;
	height: 100%;
}

body, input, button {
	font-family: $mainFont;
}