$white: #FFF;

$color-green-light: #9fd533;
$color-green: #86b300;

$color-gray: #E5E5E5;
$color-gray-light: #F5F5F5;
$color-gray-dark: #989898;

$font-color: #999999;
$font-color-light: #CBCBCB;

$media-xs: 576px;

$font-size: 19px;