.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(/static/img/bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
}

.form {
  text-align: center;

  p {
    margin: 2vw 0;
  }

  button {
    margin: 3vw 0 0;
  }

  input,
  button {
    width: 80vw;
    max-width: 300px;
  }

  input[name=username],
  input[name=password] {
    &:placeholder-shown {
      background: #eee;
    }
  }
}

.logo {
  margin: 6vw 0;
  max-width: 80vw;
  height: auto;
}

.error {
  color: #ff756f;
}