$color-white: #fff;
$color-light-gray: #F5F5F5;

$color-text-primary: #666666;

$color-button-green: #9FD533;
$color-button-green-hover: #86b300;

$color-button-transparent-hover: #99cc33;

$color-active-input-text: #999;
$color-disabled-input-background: #dddddd;

$color-servers-list-border: #E6E6E6;

$error-text-color-red: #FF2864;