@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import "~normalize.css/normalize.css";
@import "./variables.scss";
@import "../Containers/Login/login.scss";
@import "../Components/Header/header.scss";
@import "../Components/Input/input.scss";
@import "../Components/Button/button.scss";
@import "../Components/Table/table.scss";
@import "../Components/Spinner/spinner.scss";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
