@import "~normalize.css/normalize.css";

@import "../Containers/Login/login.scss";

body {
  width: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
