//text
$textDarkGrey: #666666;
$textMediumGrey: #999999;
$textLightGrey: #b3b3b3;
$textBrandGreen: #99cc33;

//elements
$white: #ffffff;
$brandGreen: #9fd533;
$brandDarkGreen: #86b300;
$borderGrey: #e6e6e6;
$backgroundGrey: #f5f5f5;
