@require '../var'
@require '../stylus-mixin-library'

@media screen and (min-width desktop)
	.{pre}grid-coll

		&--md-12
			width 100%

		&--md-11
			width 91.66666667%

		&--offset-md-11
			margin-left 91.66666667%

		&--md-10
			width 83.3333333%

		&--offset-md-10
			margin-left 83.3333333%

		&--md-9_6
			width 80%

		&--offset-md-9_6
			margin-left 80%

		&--md-9
			width 75%

		&--offset-md-9
			margin-left 75%

		&--md-8
			width 66.66666667%

		&--offset-md-8
			margin-left 66.66666667%

		&--md-7
			width 58.3333333%

		&--offset-md-7
			margin-left 58.3333333%

		&--md-6
			width 50%

		&--offset-md-6
			margin-left 50%

		&--md-5
			width 41.66666667%

		&--offset-md-5
			margin-left 41.66666667%

		&--md-4_8
			width 40%

		&--offset-md-4_8
			margin-left 40%

		&--md-4
			width 33.3333333%

		&--offset-md-4
			margin-left 33.3333333%

		&--md-3
			width 25%

		&--offset-md-3
			margin-left 25%

		&--md-2_4
			width 20%

		&--offset-md-2_4
			margin-left 20%

		&--md-2
			width 16.66666667%

		&--offset-md-2
			margin-left 16.66666667%

		&--md-1_8
			width 15%

		&--offset-md-1_8
			margin-left 15%

		&--md-1_2
			width 10%

		&--offset-md-1_2
			margin-left 10%

		&--md-1
			width 8.3333333%

		&--offset-md-1
			margin-left 8.3333333%
