@require '../var'
@require '../stylus-mixin-library'

@media screen and (min-width tablet)
	.{pre}grid-coll

		&--sm-12
			width 100%

		&--sm-11
			width 91.66666667%

		&--offset-sm-11
			margin-left 91.66666667%

		&--sm-10
			width 83.3333333%

		&--offset-sm-10
			margin-left 83.3333333%

		&--sm-9_6
			width 80%

		&--offset-sm-9_6
			margin-left 80%

		&--sm-9
			width 75%

		&--offset-sm-9
			margin-left 75%

		&--sm-8
			width 66.66666667%

		&--offset-sm-8
			margin-left 66.66666667%

		&--sm-7
			width 58.3333333%

		&--offset-sm-7
			margin-left 58.3333333%

		&--sm-6
			width 50%

		&--offset-sm-6
			margin-left 50%

		&--sm-5
			width 41.66666667%

		&--offset-sm-5
			margin-left 41.66666667%

		&--sm-4_8
			width 40%

		&--offset-sm-4_8
			margin-left 40%

		&--sm-4
			width 33.3333333%

		&--offset-sm-4
			margin-left 33.3333333%

		&--sm-3
			width 25%

		&--offset-sm-3
			margin-left 25%

		&--sm-2_4
			width 20%

		&--offset-sm-2_4
			margin-left 20%

		&--sm-2
			width 16.66666667%

		&--offset-sm-2
			margin-left 16.66666667%

		&--sm-1_8
			width 15%

		&--offset-sm-1_8
			margin-left 15%

		&--sm-1_2
			width 10%

		&--offset-sm-1_2
			margin-left 10%

		&--sm-1
			width 8.3333333%

		&--offset-sm-1
			margin-left 8.3333333%
