@require '../var'
@require '../stylus-mixin-library'

@media screen and (min-width mobileXs)
	.{pre}grid-coll

		&--xs-12
			width 100%

		&--xs-11
			width 91.66666667%

		&--offset-xs-11
			margin-left 91.66666667%

		&--xs-10
			width 83.3333333%

		&--offset-xs-10
			margin-left 83.3333333%

		&--xs-9_6
			width 80%

		&--offset-xs-9_6
			margin-left 80%

		&--xs-9
			width 75%

		&--offset-xs-9
			margin-left 75%

		&--xs-8
			width 66.66666667%

		&--offset-xs-8
			margin-left 66.66666667%

		&--xs-7
			width 58.3333333%

		&--offset-xs-7
			margin-left 58.3333333%

		&--xs-6
			width 50%

		&--offset-xs-6
			margin-left 50%

		&--xs-5
			width 41.66666667%

		&--offset-xs-5
			margin-left 41.66666667%

		&--xs-4_8
			width 40%

		&--offset-xs-4_8
			margin-left 40%

		&--xs-4
			width 33.3333333%

		&--offset-xs-4
			margin-left 33.3333333%

		&--xs-3
			width 25%

		&--offset-xs-3
			margin-left 25%

		&--xs-2_4
			width 20%

		&--offset-xs-2_4
			margin-left 20%

		&--xs-2
			width 16.66666667%

		&--offset-xs-2
			margin-left 16.66666667%

		&--xs-1_8
			width 15%

		&--offset-xs-1_8
			margin-left 15%

		&--xs-1_2
			width 10%

		&--offset-xs-1_2
			margin-left 10%

		&--xs-1
			width 8.3333333%

		&--offset-xs-1
			margin-left 8.3333333%
