.tableHeader {
  background-color: #f5f5f5;
}

.tableRow {
  height: 56px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableBody {
  width: 100vw;
  max-height: 80vh;
  overflow: scroll;
}

.text {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  line-height: 30px;
  margin: 0 16px 0 16px;
}

.tableHeaderText {
  color: #999999;
  text-transform: uppercase;
}