.icon
	display inline-block
	font-family ffIcon// TODO: priority:1, use !important to prevent issues with browser extensions that change fonts for
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none

	&:before
	*
		display inline-block
		font-family ffIcon// TODO: priority:1, use !important to prevent issues with browser extensions that change fonts for
		line-height 1
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none

	&--torso
		content '\f007'

	&--lock
		content '\f023'

	&--arrow-left-door
		content '\f08b'
