$text-grey-light: #999999;
$text-grey-dark: #666666;
$panel-grey: #F5F5F5;
$background-color: #0B0F27;
$button-color-blue: #2F3254;
$button-background-color: #9FD533;
$button-background-color-hover: #86b300;
$button-color-hover: #99cc33;
$border-color-grey: #E6E6E6;