$mixin = 'mixin/'
$animation = $mixin + 'animation/'
$background = $mixin + 'background/'
$box = $mixin + 'box/'
$column = $mixin + 'column/'
$flexbox = $mixin + 'flexbox/'
$font = $mixin + 'font/'
$text = $mixin + 'text/'
$transform = $mixin + 'transform/'
$transition = $mixin + 'transition/'
$border = $mixin + 'border/'
$button = $mixin + 'button/'
$padding = $mixin + 'padding/'
$margin = $mixin + 'margin/'
$position = $mixin + 'position/'
$text-input = $mixin + 'text-input/'
$timing-function = $mixin + 'timing-function/'
$prefixer = $mixin + 'prefixer/'
$function = $mixin + 'function/'
$directional-property = $mixin + 'directional-property/'
$retina = $mixin + 'retina/'
$gradient = $mixin + 'gradient/'
$misc = $mixin + 'misc/'