.form {
	&__group {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		position: relative;
	}
	&__input {
		color: $color-grey-dark-2;
		border: none;
		padding: 2rem 2rem 2rem 5rem;
		border-radius: 0.5rem;
		transition: all 0.2s;
		width: 36rem;
		font-family: inherit;
		letter-spacing: 0.4px;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			font-weight: 300;
			color: $color-grey-light-1;
		}

		&:-webkit-autofill {
			&,
			&:hover,
			&:focus,
			&:active {
				-webkit-text-fill-color: $color-grey-dark-2;
				transition: background-color 5000s ease-in-out 0s;
			}
		}
		&--username {
			background: $color-white url(../images/user-icon.svg) no-repeat left 2rem
				center;
			z-index: 10;
		}
		&--password {
			background: $color-white url(../images/password-icon.svg) no-repeat left
				2rem center;
		}
		&--error {
			background: $color-grey-light-3;
			padding: 1rem;
			text-align: center;
			font-size: 1.2rem;
			font-weight: 700;
			color: $color-grey-dark-1;
			position: absolute;
			right: -18.3rem;
			transition: opacity 3s ease-in-out;
			&::before {
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				border-left: 1rem solid transparent;
				border-right: 1rem solid $color-grey-light-3;
				border-top: 0.5rem solid transparent;
				border-bottom: 1rem solid transparent;
				left: -2rem;
			}
		}
	}
	&__loader {
		&,
		&:before,
		&:after {
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation: loadingBubbles 1.8s infinite ease-in-out;
			animation: loadingBubbles 1.8s infinite ease-in-out;
			content: '';
			position: absolute;
		}
		& {
			color: $color-white;
			font-size: 0.5rem;
			margin: 0.3rem auto;
			position: relative;
			text-indent: -9999em;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
			top: -1rem;

			&:before {
				left: -3.5em;
				-webkit-animation-delay: -0.32s;
				animation-delay: -0.32s;
			}
			&:after {
				left: 3.5em;
			}
		}
	}
}
