// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #666;
$color-grey-dark-2: #999;

$color-grey-light-1: #b3b3b3;
$color-grey-light-2: #cccccc;
$color-grey-light-3: #e6e6e6;
$color-grey-light-4: #f5f5f5;

$color-blue: #2f3254;
$color-blue-2: #0b0f27;

$color-green-1: #9fd533;
$color-green-2: #99cc33;
$color-green-dark: #86b300;

$color-red: #e81123;
$color-red-light: #f94e4e;
$color-red-dark: #480000;

// FONT
$default-font-size: 1.6rem;
